.box {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box:first-child {
  margin-bottom: 40px;
}

.output-label {
  color: var(--white);
  font-size: 0.9rem;
}

.output-span {
  color: var(--grayish-cyan);
  font-size: 0.75rem;
}

.money {
  font-size: 3rem;
  color: var(--strong-cyan);
}
