.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 400px) {
  .logo {
    justify-content: center;
  }
}
