.test {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-0-5 {
  flex: 0.5;
}

.flex-2 {
  margin: auto;
  display: grid;
  place-items: center;
  width: 70%;
  flex: 1.5;
}

@media screen and (max-width: 500px) {
  .flex-2 {
    width: 100%;
    margin: 0;
  }
}
